<!-- start custom footer snippets -->

<body>
<h3 style="justify-content: center; display: flex;">Subscribe to newsletter</h3>

<form name="submit-to-google-sheet" class="form-f" >
<input class="input-f" type="email" name="email" placeholder="enter your email" >
<button type="submit" class="button-f" >submit</button>
</form>
<span class="span-f" id="msg" ></span>

<script>
    const scriptURL = 'https://script.google.com/macros/s/AKfycbwYNYvFss8eU3sH_NJ8YnzLcPoqaPZQb8spPLMfxtAYC9M50HT8Ik2bvuxBpOIDOmrejw/exec';
    const form = document.forms['submit-to-google-sheet'];
    const msg = document.getElementById("msg");
  
    form.addEventListener('submit', e => {
      e.preventDefault()
      fetch(scriptURL, { method: 'POST', body: new FormData(form)})
        .then(response => {
            msg.innerHTML = "Thank for Subscribing :)"
            setTimeout(function(){
                msg.innerHTML = ""
            },5000)
            form.reset()
        })
        .catch(error => console.error('Error!', error.message))
    })   
</script>

<style>
    .form-f{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 100%;
    }
    .input-f{
        border: 1px solid #52adc8;
        border-radius: 8px;
        outline: none;
        padding: 10px 20px;
        font-size: 16px;
        margin: 5px;
        width: 100%;
        max-width: 300px;
    }
    .button-f{
        background: #52adc8;
        border: none;
        border-radius: 8px;
        outline: none;
        cursor: pointer;
        padding: 10px 20px;
        font-size: 16px;
        margin: 5px;
        width: 100%;
        max-width: 200px;
    }
    .span-f{
        color: #52adc8;
        margin-top: 12px;
        display: block;
        text-align: center;
    }
    @media only screen and (min-width: 768px) {
        form input {
            width: auto;
            max-width: 200px; 
        }
        form button {
            width: auto;
            max-width: 150px;
        }
    }
</style>
<a href="/sitemap/">Sitemap</a>

<!-- end custom footer snippets -->
</body>
