<!-- start custom footer snippets -->

<h3 style="justify-content: center; display: flex;">Subscribe to newsletter</h3>

<form name="submit-to-google-sheet" style="        
display: flex;
flex-wrap: wrap;
justify-content: center;
max-width: 100%;">
<input type="email" name="email" placeholder="enter your email" style="border: 1px solid #52adc8;
    border-radius: 8px;
    outline: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    width: 100%;
    max-width: 300px; ">
<button type="submit" style="background: #52adc8;
border: none;
border-radius: 8px;
outline: none;
cursor: pointer;
padding: 10px 20px;
font-size: 16px;
margin: 5px;
width: 100%;
max-width: 200px; ">submit</button>
</form>
<span id="msg" style="color: #52adc8;
margin-top: 12px;
display: block;
text-align: center;"></span>
<script>
    const scriptURL = 'https://script.google.com/macros/s/AKfycbyvhQBnsIYzm2Yb1WFMq1P4gwjb2snL4vseQjZwW9ir0FEoeDXPAQihqmNqzfE962qvjQ/exec'
    const form = document.forms['submit-to-google-sheet']
    const msg = document.getElementById("msg")
  
    form.addEventListener('submit', e => {
      e.preventDefault()
      fetch(scriptURL, { method: 'POST', body: new FormData(form)})
        .then(response => {
            msg.innerHTML = "Thank for Subscribing :)"
            setTimeout(function(){
                msg.innerHTML = ""
            },5000)
            form.reset()
        })
        .catch(error => console.error('Error!', error.message))
    })
</script>

<style>
    @media only screen and (min-width: 768px) {
        form input {
            width: auto;
            max-width: 200px; 
        }
        form button {
            width: auto;
            max-width: 150px;
        }
    }
</style>
<a href="/sitemap/">Sitemap</a>

<!-- end custom footer snippets -->
